
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.container h2 {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label, .container input {
    margin: 10px 0;
}

.container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

.toggle-form {
    text-align: center;
    margin-top: 10px;
}

.toggle-form a {
    text-decoration: none;
    color: #007bff;
}

.toggle-form a:hover {
    text-decoration: underline;
}
